<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true"/>
        <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour" >
          <!--这里必须设置-->
          <!--<webHttp  defaultBodyStyle="WrappedRequest" automaticFormatSelectionEnabled="true"/>
          <dataContractSerializer />-->
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="FooService.svc" service="EaseEasy.LayerDevDemo.WcfServices.FooService" factory="System.ServiceModel.Activation.WebScriptServiceHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <!--<services>
      <service name="FooService">
        <endpoint behaviorConfiguration="webHttpBehaviour" binding="webHttpBinding" contract="EaseEasy.LayerDevDemo.WcfServices.FooService" />
      </service>
    </services>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
